{{ services.lastSeen.setLastSeenMaxCount(config("Ceres.item.lists.last_seen_number")) }}

{{ component( "CeresHermko::Item.Components.VariationSelect" ) }}
{{ component( "CeresHermko::Item.Components.ItemImageCarousel" ) }}
{{ component( "CeresHermko::Item.Components.AddToWishList" ) }}
{{ component( "CeresHermko::Item.Components.OrderProperties" ) }}
{{ component( "CeresHermko::Item.Components.OrderPropertyList" ) }}
{{ component( "CeresHermko::Item.Components.SingleItem" ) }}
{{ component( "CeresHermko::Item.Components.GraduatedPrices" ) }}
{{ component( "CeresHermko::Basket.Components.AddToBasket" ) }}


<single-item v-cloak template="#vue-single-item" :item-data="{{ item | json_encode }}" :variation-list-data="{{ variations | json_encode }}" :attribute-name-map="{{attributeNameMap | json_encode}}">
    <div slot="BeforePrice">{{ LayoutContainer.show("CeresHermko::SingleItem.BeforePrice", item.documents[0].data) }}</div>
    <div slot="AfterPrice">{{ LayoutContainer.show("CeresHermko::SingleItem.AfterPrice", item.documents[0].data) }}</div>
    <div slot="BeforeAddToBasket">{{ LayoutContainer.show("CeresHermko::SingleItem.BeforeAddToBasket", item.documents[0].data) }}</div>
    <div slot="AfterAddToBasket">{{ LayoutContainer.show("CeresHermko::SingleItem.AfterAddToBasket", item.documents[0].data) }}</div>
    <div slot="AdditionalContentAfterAddToBasket">{{ LayoutContainer.show("CeresHermko::SingleItem.AdditionalContentAfterAddToBasket", item.documents[0].data) }}</div>
    <div slot="AdditionalContentAfterVAT">{{ LayoutContainer.show("CeresHermko::SingleItem.AdditionalContentAfterVAT", item.documents[0].data) }}</div>
    <template slot="AddDetailTabs">{{ LayoutContainer.show("CeresHermko::SingleItem.AddDetailTabs", item.documents[0].data) }}</template>
    <template slot="AddDetailTabsContent">{{ LayoutContainer.show("CeresHermko::SingleItem.AddDetailTabsContent", item.documents[0].data) }}</template>
    <div slot="ItemListContainer">{{ LayoutContainer.show("CeresHermko::SingleItem.ItemListContainer", item) }}</div>
    <div slot="FeedbackContainer">{{ LayoutContainer.show("CeresHermko::SingleItem.FeedbackContainer", item) }}</div>
</single-item>
